OPD_PORT=3000
EMR_PORT=3001
FINANCE_PORT=3002

OPD_RABBITMQ_QUEUE=opd.events
EMR_RABBITMQ_QUEUE=emr.events
FINANCE_RABBITMQ_QUEUE=finance.events

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

OPD_DATABASE=opd_db
EMR_DATABASE=emr_db
FINANCE_DATABASE=finance_db

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=his.events
